@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full min-w-[25rem] bg-white text-[length:var(--vscode-editor-font-size)];
}

body {
  @apply h-full overflow-y-auto p-0;
}

#root {
  @apply h-full;
}

* {
  outline: none !important;
}

.pointer {
  @apply cursor-pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-white;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full !bg-gray-400;
}

.scrollbar-hidden::-webkit-scrollbar {
  @apply hidden w-0;
}

.bg-pattern-rectangle {
  background-size: 14px 14px;
  background-image: repeating-linear-gradient(
      45deg,
      theme('colors.gray.300') 25%,
      transparent 25%,
      transparent 75%,
      theme('colors.gray.300') 75%,
      theme('colors.gray.300')
    ),
    repeating-linear-gradient(
      45deg,
      theme('colors.gray.300') 25%,
      transparent 25%,
      transparent 75%,
      theme('colors.gray.300') 75%,
      theme('colors.gray.300')
    );
  background-position: 0 0, 7px 7px;
}

.bg-pattern-stripe {
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(
    45deg,
    theme('colors.gray.300') 0,
    theme('colors.gray.300') 2px,
    transparent 0,
    transparent 50%
  );
}

.react-colorful {
  @apply !h-full !w-full;
}
.react-colorful__saturation {
  @apply !mb-4 h-36 overflow-hidden !rounded !border-none;
}
.react-colorful__pointer {
  @apply !h-[6px] !w-[6px] cursor-pointer !border !border-gray-400 !bg-transparent !ring-1 !ring-gray-400 !ring-offset-4 !ring-offset-white transition-transform duration-200;
}
.react-colorful__hue,
.react-colorful__alpha {
  @apply my-1 !h-3 !rounded-full border border-white/75 shadow-none;
}
